@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400,500|Pacifico&display=swap&subset=cyrillic');
@import 'custom';
@import "~bootstrap/scss/bootstrap";

.store-button {
    background: $store-color-light;
    color: $store-color-dark;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #{$store-color-secondary};
    outline: none !important;
    margin-top: 8px;

    &:active {
        border-color: $store-color-primary;
    }
}
